@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');

* {
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
}

body {

    min-height: 100vh;
    background-color: rgb(78, 69, 83);

}

.my_name {
    box-sizing: border-box;
    color: lavender;
    text-shadow: 2px 2px 5px red;

    width: 25%;
    font-size: 25px;
    font-family: 'Potta One', cursive;
    border-radius: 15px;
}

.calculator_card {
    border-radius: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(133, 90, 90);
    width : 350px;
    box-shadow: 5px; 
}

.display{
    border-radius: 30px;
    background-color: tomato;

   }

input[type=text]{
    width: 94%;
    padding:12px 20px;
    display: inline-flex;
    border: 1px solid rgb(236, 78, 78);
    border-radius: 25px;
    box-sizing:border-box;
}

.row0 button {
    color: white;
    border-radius: 50px;
    background-color: rgba(0, 136, 169, 1);
    padding: 9px 25px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.row1 button {
    color: white;
    border-radius: 50px;
    background-color: rgba(0, 136, 169, 1);
    padding: 9px 25px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.row2 button {
    color: white;
    border-radius: 50px;
    background-color: rgba(0, 136, 169, 1);
    padding: 9px 25px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.row3 button {
    color: white;
    border-radius: 50px;
    background-color: rgba(0, 136, 169, 1);
    padding: 9px 25px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.row4 button {
    color: white;
    border-radius: 50px;
    background-color: rgba(0, 136, 169, 1);
    padding: 9px 25px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    
}

button:hover {

    color: white;
    background-color: rgba(0, 111, 169, 0.2);
}
